@charset "UTF-8";
/* CSS Document */

.content
{
    background-color: rgba(255, 255, 255, 0.8);
    width:60em;
    min-width:850px;
    margin:40px auto;
    line-height:1.6em;
}
.blogarticle
{
    padding:2em;
}
.blogarticle h1
{
    text-align:center;
    font-size:1.5em;
    line-height:2em;
}
.blogarticle h2
{
    font-size:1.2em;
    line-height:3em;

}
.blogarticle h3
{
    line-height:1.5em;

}
.blogarticle #time
{
    display:block;
    color:#999;
    font-style:italic;
    text-align:center;
    margin-bottom:2em;
}
.blogarticle ul
{
    list-style-type:disc;
    padding-left:3em;
    margin:2em 0;
}
.blogarticle ol
{
    list-style-type:decimal;
    padding-left:3em;
    margin:2em 0;
    font-size:1em;
}
.blogarticle p
{
    margin:1em;
}
.blogarticle table
{
    border-collapse: collapse;

}
.blogarticle table, .blogarticle th, .blogarticle td
{
    border: 1px solid black;
    padding:1em;
}